# SPDX-FileCopyrightText: 2021, 2022 ImpulsoGov <contato@impulsogov.org>
#
# SPDX-License-Identifier: MIT


# Ignore everything
**

# ... except for dependencies and source
!pyproject.toml
!poetry.lock
!src
!README.md
!entrypoint.sh
!implementar_fluxos.py
