# Ambiente
# Determina o ambiente em que o programa está rodando (desenvolvimento, homologação ou produção)
IMPULSOETL_AMBIENTE=desenvolvimento  # Ambiente; deve ser um entre "desenvolvimento", "homologacao" ou "producao"

# Logs
# Comportamento do registro em logs
IMPULSOETL_LOG_DESTINO=.log  # Caminho do arquivo onde salvar os logs
IMPULSOETL_LOG_NIVEL=INFO  # Nível de verbosidade dos logs; deve ser um entre CRITICAL, ERROR, WARNING, INFO ou DEBUG.

# Banco de dados
# Dados de conexão com o banco de dados PostgreSQL da Impulso
IMPULSOETL_BD_HOST=localhost  # Endereço de IP para conexão com o banco de dados
IMPULSOETL_BD_PORTA=5432  # Endereço de IP para conexão com o banco de dados
IMPULSOETL_BD_NOME=principal  # Nome do banco de dados
IMPULSOETL_BD_USUARIO=meu_usuario  # Nome do usuário para conexão com o banco de dados (SUBSTITUA)
IMPULSOETL_BD_SENHA=12345678  # Senha para conexão com o banco de dados (SUBSTITUA)

# Captura de dados
# Parâmetros para a automatização da raspagem de dados
IMPULSOETL_DOWNLOADS_CAMINHO=./tmp  # Caminho onde serão armazenados os arquivos de download
IMPULSOETL_ESPERA_MAX=300  # Máximo de segundos a aguardar por uma resposta das fontes de dados
IMPULSOETL_LOTE_TAMANHO=100000  # Quantidade de registros operados de cada vez para extração, tratamento e carregamento no banco de dados
